@use '../abstracts/' as *;

.flex-group{
   display: flex;
   flex-wrap: wrap;
   column-gap: var(--flex-column-gap, $flex-group-gap);
   row-gap: var(--flex-row-gap, calc( $flex-group-gap / 2 ));
   width:fit-content;
   

   &.-space-between,
   &[data-spacing="space-between"]{
      justify-content: space-between;
   }
   
   &.mi-auto{
      justify-content: center;
   }

   &.-vcenter{
      align-items: center;
   }
}