@use "../abstracts" as *;


.fw-extra-light{
      font-weight: $font-weight-thin;
}

.fw-light{
      font-weight: $font-weight-light;
}

.fw-regular{
      font-weight: $font-weight-regular;
}

.fw-medium{
      font-weight: $font-weight-medium;
}

.fw-semi-bold{
      font-weight: $font-weight-semi-bold;
}

.fw-bold{
      font-weight: $font-weight-bold;
}

.fw-extra-bold{
      font-weight: $font-weight-extra-bold;
}
.fw-black{
      font-weight: $font-weight-black;
}

