@use "../abstracts" as *;

.mi-auto, .mx-auto{
   margin-inline: auto;
}

.mis-auto, .ml-auto{
   margin-inline-start: auto;
}

.mie-auto, .mr-auto{
   margin-inline-end: auto;
}

.width-full{
   width: 100%;
}

$props: (
   m: 'margin',
   p: 'padding', 
);

$subprops: (
   b: "block",
   bs: "block-start",
   be: "block-end",
   i: "inline",
   is: "inline-start",
   ie: "inline-end",
);
@each $size-px,$size-value  in $sizes{
  @each $prop-class,$prop  in $props{
      .#{$prop-class}-#{$size-px}{
          #{$prop}: #{$size-value};
      }
      @each $subprop-class,$subprop in $subprops{
         .#{$prop-class}#{$subprop-class}-#{$size-px}{
             #{$prop}-#{$subprop}: #{$size-value};
         }
      }
  }
}