@font-face {
  font-family: "Bricolage Grotesque";
  font-display: swap;
  src: url("/fonts/BricolageGrotesque/BricolageGrotesque-VariableFont_opsz-wdth-wght.woff2") format("woff2"),
    url("/fonts/BricolageGrotesque/BricolageGrotesque-VariableFont_opsz-wdth-wght.woff") format("woff");
}
@font-face {
  font-family: "Epunda";
  font-display: swap;
  font-style: normal;
  src: url("/fonts/epunda-slab/EpundaSlab-VariableFont_wght.woff2") format("woff2"),
  url("/fonts/epunda-slab/EpundaSlab-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "Epunda";
  font-display: swap;
  font-style: italic;
  src: url("/fonts/epunda-slab/EpundaSlab-Italic-VariableFont_wght.woff2") format("woff2"),
  url("/fonts/epunda-slab/EpundaSlab-Italic-VariableFont_wght.woff") format("woff");
}



@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  src: url("/fonts/inter/Inter-VariableFont_opsz-wght.woff2") format("woff2"),
  url("/fonts/inter/Inter-VariableFont_opsz-wght.woff") format("woff")
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  src: url("/fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff2") format("woff2"),
  url("/fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff") format("woff")
}

@font-face {
  font-family: "Satoshi";
  font-display: swap;
  src: url("fonts/Satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/fonts/Satoshi/Satoshi-Variable.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-display: swap;
  font-style: italic;
  src: url("/fonts/Satoshi/Satoshi-VariableItalic.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-VariableItalic.woff") format("woff");
}



@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-bold-webfont.woff") format("woff");
}



@font-face {
  font-family: "Supreme";
  font-display: swap;
  src: url("/fonts/Supreme-Variable.woff2") format("woff2"),
    url("/fonts/Supreme-Variable.woff") format("woff");
}

@font-face {
  font-family: "Supreme";
  font-display: swap;
  font-style: italic;
  src: url("/fonts/Supreme-VariableItalic.woff2") format("woff2"),
    url("/fonts/Supreme-VariableItalic.woff") format("woff");
}