// copy and use it in colors.scss

$-clr-gray-white: rgb(255, 255, 255);
$-clr-gray-050: oklch(95% 0.00011 271.152);
$-clr-gray-100: oklch(92% 0.00104 11.297);
$-clr-gray-150: oklch(85% 0.0001 271.152);
$-clr-gray-200: oklch(81% 0.00009 271.152);
$-clr-gray-250: oklch(76.676% 0.00009 271.152);
$-clr-gray-320: oklch(68.295% 0.00008 271.152);
$-clr-gray-400: oklch(59.987% 0.00007 271.152);
$-clr-gray-500: oklch(51.028% 0.00006 271.152);
$-clr-gray-600: oklch(42.024% 0.00005 271.152);
$-clr-gray-700: oklch(29.716% 0.00003 271.152);
$-clr-gray-800: oklch(18.674% 0.00002 271.152);
$-clr-black: oklch(0% 0 0);
$-clr-orange-100: oklch(96.263% 0.01595 52.32);
$-clr-orange-200: oklch(87.272% 0.05802 55.794);
$-clr-orange-300: oklch(78.423% 0.10187 54.335);
$-clr-orange-400: oklch(71.93% 0.13621 52.738);
$-clr-orange-500: oklch(65.767% 0.16496 48.442);
$-clr-orange-600: oklch(56.074% 0.13836 49.109);
$-clr-orange-700: oklch(45.629% 0.10978 49.459);
$-clr-orange-800: oklch(31.791% 0.07096 50.956);
$-clr-orange-900: oklch(19.452% 0.03549 54.164);
$-clr-yellow-100: oklch(97.818% 0.02007 94.545);
$-clr-yellow-200: oklch(92.336% 0.06991 95.054);
$-clr-yellow-300: oklch(87.29% 0.11537 95.708);
$-clr-yellow-400: oklch(83.413% 0.14283 94.856);
$-clr-yellow-500: oklch(79.645% 0.15655 93.18);
$-clr-yellow-600: oklch(67.574% 0.13225 93.063);
$-clr-yellow-700: oklch(54.831% 0.10615 93.489);
$-clr-yellow-800: oklch(37.832% 0.07104 94.653);
$-clr-yellow-900: oklch(22.625% 0.03858 97.412);
$-clr-yellowgreen-100: oklch(98.297% 0.02515 116.635);
$-clr-yellowgreen-200: oklch(94.07% 0.08747 117.742);
$-clr-yellowgreen-300: oklch(90.22% 0.14306 118.722);
$-clr-yellowgreen-400: oklch(87.433% 0.17811 120.093);
$-clr-yellowgreen-500: oklch(84.639% 0.19754 121.541);
$-clr-yellowgreen-600: oklch(71.818% 0.16714 121.586);
$-clr-yellowgreen-700: oklch(58.15% 0.13363 121.316);
$-clr-yellowgreen-800: oklch(39.891% 0.08845 120.559);
$-clr-yellowgreen-900: oklch(23.525% 0.0466 118.556);
$-clr-green-100: oklch(97.702% 0.02791 133.88);
$-clr-green-200: oklch(92.233% 0.0974 133.167);
$-clr-green-300: oklch(87.2% 0.16288 134.173);
$-clr-green-400: oklch(83.739% 0.2064 135.21);
$-clr-green-500: oklch(80.429% 0.23425 136.928);
$-clr-green-600: oklch(68.318% 0.19748 136.728);
$-clr-green-700: oklch(55.331% 0.15774 136.577);
$-clr-green-800: oklch(38.005% 0.10392 136.025);
$-clr-green-900: oklch(22.489% 0.05417 134.771);
$-clr-lime-100: oklch(97.382% 0.02538 158.449);
$-clr-lime-200: oklch(91.168% 0.08669 158.006);
$-clr-lime-300: oklch(85.758% 0.14395 155.445);
$-clr-lime-400: oklch(82.266% 0.18267 153.065);
$-clr-lime-500: oklch(79.233% 0.21147 150.017);
$-clr-lime-600: oklch(67.272% 0.17773 150.312);
$-clr-lime-700: oklch(54.467% 0.14168 150.582);
$-clr-lime-800: oklch(37.372% 0.09268 151.51);
$-clr-lime-900: oklch(22.078% 0.04769 153.739);
$-clr-turquoise-100: oklch(97.602% 0.02056 182.196);
$-clr-turquoise-200: oklch(91.86% 0.06966 180.375);
$-clr-turquoise-300: oklch(86.91% 0.11077 178.875);
$-clr-turquoise-400: oklch(83.679% 0.13557 176.572);
$-clr-turquoise-500: oklch(80.834% 0.14934 174.032);
$-clr-turquoise-600: oklch(68.603% 0.12645 173.957);
$-clr-turquoise-700: oklch(55.541% 0.10106 174.431);
$-clr-turquoise-800: oklch(38.092% 0.06683 175.751);
$-clr-turquoise-900: oklch(22.476% 0.03525 179.2);
$-clr-cyan-100: oklch(96.919% 0.01678 215.771);
$-clr-cyan-200: oklch(89.293% 0.05749 215.818);
$-clr-cyan-300: oklch(82.417% 0.09346 215.877);
$-clr-cyan-400: oklch(77.373% 0.11551 217.797);
$-clr-cyan-500: oklch(72.89% 0.1278 220.548);
$-clr-cyan-600: oklch(61.854% 0.10809 220.691);
$-clr-cyan-700: oklch(50.27% 0.08646 220.08);
$-clr-cyan-800: oklch(34.834% 0.05735 218.379);
$-clr-cyan-900: oklch(21.066% 0.0306 214.101);
$-clr-skyblue-100: oklch(95.336% 0.01792 261.404);
$-clr-skyblue-200: oklch(83.872% 0.06355 258.115);
$-clr-skyblue-300: oklch(72.342% 0.11288 258.3);
$-clr-skyblue-400: oklch(63.61% 0.15305 258.209);
$-clr-skyblue-500: oklch(55.351% 0.19035 259.296);
$-clr-skyblue-600: oklch(47.361% 0.15918 258.992);
$-clr-skyblue-700: oklch(38.74% 0.126 258.972);
$-clr-skyblue-800: oklch(27.382% 0.08075 258.515);
$-clr-skyblue-900: oklch(17.295% 0.03958 257.351);
$-clr-blue-100: oklch(93.966% 0.02563 285.843);
$-clr-blue-200: oklch(78.471% 0.09493 283.996);
$-clr-blue-300: oklch(63.15% 0.16881 280.43);
$-clr-blue-400: oklch(51.853% 0.22565 275.162);
$-clr-blue-500: oklch(43.368% 0.2659 267.897);
$-clr-blue-600: oklch(37.001% 0.22429 268.214);
$-clr-blue-700: oklch(30.385% 0.17838 269.073);
$-clr-blue-800: oklch(21.635% 0.1165 271.165);
$-clr-blue-900: oklch(14.089% 0.05924 275.682);
$-clr-purple-100: oklch(94.506% 0.02648 302.462);
$-clr-purple-200: oklch(80.673% 0.09707 302.71);
$-clr-purple-300: oklch(67.072% 0.16881 300.373);
$-clr-purple-400: oklch(57.11% 0.22066 297.37);
$-clr-purple-500: oklch(48.926% 0.25272 291.651);
$-clr-purple-600: oklch(41.808% 0.21345 292.295);
$-clr-purple-700: oklch(34.246% 0.17033 292.893);
$-clr-purple-800: oklch(24.268% 0.11217 294.746);
$-clr-purple-900: oklch(15.521% 0.0581 298.364);
$-clr-magenta-100: oklch(95.141% 0.02987 318.939);
$-clr-magenta-200: oklch(83.036% 0.1077 319.086);
$-clr-magenta-300: oklch(71.93% 0.18488 319.326);
$-clr-magenta-400: oklch(64.319% 0.23737 318.853);
$-clr-magenta-500: oklch(58.63% 0.26749 317.931);
$-clr-magenta-600: oklch(49.819% 0.22596 317.865);
$-clr-magenta-700: oklch(40.59% 0.18072 318.102);
$-clr-magenta-800: oklch(28.322% 0.11971 318.748);
$-clr-magenta-900: oklch(17.498% 0.06302 320.276);
$-clr-pink-100: oklch(95.345% 0.02846 332.646);
$-clr-pink-200: oklch(83.893% 0.10324 334.044);
$-clr-pink-300: oklch(73.624% 0.17828 335.288);
$-clr-pink-400: oklch(66.928% 0.22877 336.887);
$-clr-pink-500: oklch(62.134% 0.25671 338.562);
$-clr-pink-600: oklch(52.79% 0.21681 338.605);
$-clr-pink-700: oklch(42.898% 0.17358 338.302);
$-clr-pink-800: oklch(29.726% 0.1153 337.471);
$-clr-pink-900: oklch(18.078% 0.06109 335.369);
$-clr-deeppink-100: oklch(95.114% 0.02255 352.867);
$-clr-deeppink-200: oklch(83.045% 0.08489 353.113);
$-clr-deeppink-300: oklch(71.944% 0.14964 356.2);
$-clr-deeppink-400: oklch(64.562% 0.19631 359.486);
$-clr-deeppink-500: oklch(59.164% 0.22272 4.924);
$-clr-deeppink-600: oklch(50.328% 0.1884 4.312);
$-clr-deeppink-700: oklch(40.932% 0.1505 3.783);
$-clr-deeppink-800: oklch(28.441% 0.09947 2.045);
$-clr-deeppink-900: oklch(17.42% 0.05181 358.419);
$-clr-red-100: oklch(94.918% 0.02071 17.238);
$-clr-red-200: oklch(82.289% 0.0786 18.826);
$-clr-red-300: oklch(70.722% 0.14223 21.286);
$-clr-red-400: oklch(63.123% 0.19062 24.396);
$-clr-red-500: oklch(57.876% 0.22148 27.784);
$-clr-red-600: oklch(49.204% 0.18699 27.655);
$-clr-red-700: oklch(40.012% 0.14906 27.298);
$-clr-red-800: oklch(27.783% 0.09783 26.376);
$-clr-red-900: oklch(17.022% 0.05006 24.115);
