@use "../abstracts" as *;


// unifie le style peut importe si la classe est donnée aux
// <a> ou <button>
.button {
   display: inline-flex;
   cursor: pointer;
   user-select: none;
   font-family: $button-font-family;
   font-size: $button-font-size;
   line-height: 1;
   color: $button-default-color;
   text-decoration: none;
   text-transform: $button-text-transform;
   background-color: $button-default-background;
   border: $button-border;
   border-radius: $button-border-radius;
   justify-self: center;
   padding: $button-padding;
   font-weight: $button-font-weight;
   transition : $button-animation; 
   
   &.-wide{
      padding: $button-wide-padding;
   }
   
   &:is(:hover,:focus-visible){
      color: $button-default-color-hover;
      background-color: $button-default-background-hover;
   }
   
   &.-accent,
   &[data-variant="accent"]{
      background-color: $button-accent-background;
      color: $button-accent-color;
      &:is(:hover,:focus-visible){
         color: $button-accent-color-hover;
         background-color: $button-accent-background-hover;
      }
   }
   
   &.-primary,
   &[data-variant="primary"]{
      background-color: $button-primary-background;
      color: $button-primary-color;
      &:is(:hover,:focus-visible){
         color: $button-primary-color-hover;
         background-color: $button-primary-background-hover;
      }
   }

      &.-secondary,
   &[data-variant="secondary"]{
      background-color: $button-secondary-background;
      color: $button-secondary-color;
      &:is(:hover,:focus-visible){
         color: $button-secondary-color-hover;
         background-color: $button-secondary-background-hover;
      }
   }
}