

// mon hamburger bouton


$hamburger-button-width: 35px;
$hamburger-button-height: 27px;
$hamburger-button-2-lines: false;
$hamburger-button-lines-thickness: 4.6px;
$hamburger-button-color: oklch(15.362% 0.00273 248.155 / 0.629);
$hamburger-button-color-hover: red;
$hamburger-button-animation: 0.16s  ease-out;

.hamburger-button{
   --color: #{$hamburger-button-color};
   background: transparent;
   border: none;  
   position: relative;
   width: $hamburger-button-width;
   height: $hamburger-button-height;
   cursor: pointer;
   
   
   input[type=checkbox]{
      cursor: pointer;
      opacity: 0;
      width: 100%;
      height: 100%;
   }

   label {
      cursor: pointer;
      user-select: none;
   }
   // drawing the 3 hambuger's lines      
   &::before, label::before, label::after{
         content:"";
         display: block;
         position: absolute;
         left:0;
         top: 0;
         width: 100%;
         
         height: $hamburger-button-lines-thickness;
         background-color: var(--color); 
   }

   &::before{
      top: calc( 50% - ( $hamburger-button-lines-thickness / 2 ));
      @if $hamburger-button-2-lines{
         display: none;
      }
   }
   &.-two-lines::before{
      display:none;
   }
         
   label::after{
      top: calc( 100% - $hamburger-button-lines-thickness);
   }
   
   &:hover{
      --color: #{$hamburger-button-color-hover};
   }
}

// ANIMATION Button ===============================
.hamburger-button{
   &::before, label, label::before, label::after{
      will-change: transform;
      transition: #{$hamburger-button-animation};     
   }
   
   &:has(input:checked)::before{
      transform: scaleX(0) translateX(calc($hamburger-button-width / 2 ));
   }

   input:checked ~ label{
      transform: rotate(180deg);
      
      &::before, &::after{
         top: calc(50% - $hamburger-button-lines-thickness * 0.5);
      }

      &::before { transform: rotate(-45deg); }
      
      &::after { transform: rotate(45deg); }
   }
}

