@use "../abstracts" as *;

.hero{
   //--grid-gap: #{$size-10};
   //background-image: url('../../img/hero-bg.webp');
   background-size: cover;
   background-position: center;

   &--description{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $size-3;
   }

   &--image{
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius-2;
      width: 100%;
   }
}