@use "../abstracts/" as *;


.nav {
  --flex-column-gap: #{$navigation-gap};
  list-style: none;
  font-family: $navigation-font-family;
  font-weight: $navigation-font-weight;
  font-size: $navigation-font-size;

   a{
      color: $navigation-color;
      letter-spacing:$navigation-letter-spacing;
      text-decoration: $navigation-link-text-decoration;

      &:is(:hover, :focus-visible){
         color: $navigation-color-hover;
      }
   }


}