@use "../abstracts/" as *;

.site-header{
  --site-header-padding: #{$site-header-padding};
  color: $site-header-color;
  background: $site-header-background-color;
  padding: var(--site-header-padding);
  
  &--inner{
    display: flex;
    gap: $size-4;
    align-items: $site-header-align;
    justify-content: $site-header-justify-small-screens;
    
    @include mq($site-header-media-query-large-screen-breakpoint) {
      justify-content: $site-header-justify-large-screens;
    }
    
  }
}