@use "../mm-design-system/abstracts/" as *;

.hero{
   background: linear-gradient(135deg, #F0FAEE 60%, transparent);

   h1{
      text-align: center;
      letter-spacing: $letter-spacing-regular;
   }
   // border: 1px solid red;

   h2{
      font-size: $font-size-700;
      background: linear-gradient(45deg,$color-accent-300 20%, $color-secondary-300 70%);
      background-clip: text;
      color: transparent;
      text-align: center;
   }
   &--description p{
      max-width: 40ch;
      margin-inline: auto;
   }
}