@use "../mm-design-system/abstracts/" as *;

.project-preview{
   display: grid;
   grid-template-rows: auto auto auto 1fr auto;
    align-content: stretch;

   .image-container{
      img{
         display: block;
         aspect-ratio: 2 / 1.3;
         object-fit: cover;
      }
   }
   .project-body{
      margin-top: 10px;
   }

   .tag-list{
      // margin-top: 10px;
      display: flex;
      width: 100%;
      gap: $size-3;

   
   }

   .tag{
      background: $color-neutral-400;
      color: $color-neutral-100;
      padding: .2em .5em .12em;
      border-radius: 100vw;
      font-family: $font-family-accent;
      font-size: 13px; 
      text-transform: uppercase;
      font-weight: $font-weight-extra-bold;
      letter-spacing: .04em;
      
   }

   .link-list{
      margin-top: .7rem;
      align-self: center;
      display: flex;
      gap: $size-6;
      font-size: 13px;
    text-transform: uppercase;


      span{
         color:$color-neutral-300;
      }
      span:has(>a){
         color: $color-neutral-500;
      }
   }
   
   h2{

   }

   .nodejs{
      color: $color-neutral-500;
      background: #BEF6AE;
   }
   .css, .sass{
      color: $color-neutral-500;
      background: #FFC6C6;
   } 
    .php, .drupal, .wordpress{
      color: $color-neutral-500;
      background: #cce9f1;
   }  

}