@use "../mm-design-system/abstracts/" as *;

.project-preview{
   --flow-space: 1.5rem;
   display: grid;
   grid-template-rows: auto auto auto 1fr auto;
   align-content: stretch;

   //systeme featured n'est pas pris en compte pour le moment
   // grit-auto-fil est désactivé > 1 seule colonne (voir projecct-base/grid-auto.scss
   // &.featured{
   //    grid-column: span 2;
   // }

   .image-container{
          border: 1px solid #e5e5e5;
    box-shadow: 0px 8px 10px 2px #cccccc17;
    border-radius: 3px;
    overflow: hidden;
      img{
         display: block;
         aspect-ratio: 2 / 1.3;
         object-fit: cover;
      }
   }
   .project-body{
      --flow-space: 1rem;
      margin-top: 10px;
      font-weight: $font-weight-light;
      ul{
         margin-top: 0;
         list-style-type: circle;
         margin-left: 1em;
      }
      em{
         font-style: italic;
         color: $color-neutral-400;
      }
   }

   .tag-list{
      // margin-top: 10px;
      display: flex;
      width: 100%;
      gap: $size-3;
      flex-wrap: wrap;

   
   }

   .tag{
      background: $color-neutral-400;
      color: $color-neutral-100;
      padding: .2em .5em .12em;
      border-radius: 100vw;
      font-family: $font-family-accent;
      font-size: 13px; 
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      letter-spacing: .04em;
      
   }

   .link-list{
      margin-top: .7rem;
      align-self: center;
      display: flex;
      gap: $size-6;
      font-size: 13px;
    text-transform: uppercase;


      span{
         color:$color-neutral-300;
      }
      span:has(>a){
         color: $color-neutral-500;
      }
   }
   
   h2{

   }

   .webdesign{
       color: $color-neutral-100;
      background: #82573e;
   }

   .nodejs{
      color: $color-neutral-500;
      background: #BEF6AE;
   }
   .flash{
          color: $color-neutral-500;
      background: #feacac; 
   }
   .jquery{
      color: $color-neutral-500;
      background: #fdaf61;
   }
   .css, .sass{
      color: $color-neutral-500;
      background: #f7d71d;
   } 
   .php{
       color: $color-neutral-500;
      background: #aeb4f6;
   }
    .drupal, .wordpress, .yii{
      color: $color-neutral-500;
      background: #cce9f1;
   }  
   .mysql{
      color: $color-neutral-500;
      background: #e0ea85;
   }

}