@use "../mm-design-system/abstracts/" as *;

.site-header{
  background: linear-gradient(135deg, #F0FAEE 60%, transparent);
  padding-block: 20px;
//   border: 1px solid red;
  position: sticky;
   z-index: 1000;
   top: 0;

   --background-opacity: 0;



   .background-image{
      display: none; 
      opacity: var(--background-opacity);
      overflow: hidden;
      position: absolute;
      z-index: -1;
      inset: 0;
      *{
        margin-top: -15%;
      }
      @include mq(medium){
         display: block;
      }
   }
  
  @supports (animation-timeline: view()){
   animation: stickyn forwards;
   animation-timeline: view();
   animation-range-start: 98vh;
   animation-range-end: 110vh;
  }

  @keyframes stickyn{
   from{
      transform: translateY(-6rem);
      --background-opacity: .7;  
   }
   to{
      top: 0rem;
      background: rgba(233, 248, 231, 0.959);
      transform: translateY(0);
      --background-opacity: .7;
   }
  }

}

.global-gridl-layout{
   .site-header{
  transform: translateY(-6rem);
   }
}
