---
import BaseLayout from "../layouts/BaseLayout.astro";


---
<BaseLayout 
  title="Articles | Travel Fun Food" 
  withGradient 
>
<main>
<div class="container -narrow flow mbs-14">
   <p class="fs-800 ff-accent fw-bold ">page 404</p>
   <h1 class="title-1 ">Oh no! 👻</h1>
   <p class="title-3 fs-800 clr-primary-300">The page you are looking for doesn't exist!</p>
   <p></p>
</div>
</main>
</BaseLayout>