---


---


<section class="section hero ">
   <div class="container -wide">
      <div class="even-columns vertically-centered">
         <div class="hero--image">[SVG illustration]</div>
         <div class="hero--description flow">
            <h1 class="title-1 letter-spacing-regular">Hi, I'm Michel,<br> 
               <span class="clr-accent-400">Web Developer</span><br>
               in Brussels</h1>
               <h2 class="title-2">Looking for full-time opportunities</h2>
               <p>[TEXT : INTRODUCTION] But other than that, study of cross-platform practices should keep its influence over the permanent growth. The real reason of the critical thinking immediately the critical acclaim of the the potential role models. Therefore, the concept of the development methodology can be treated as the only solution.</p>  
            </div>
   
         </div>
      </div>
   </section>