---
const { id, aria} = Astro.props;

---

<nav {id} aria-labe={aria}>
   <ul class="nav primary-nav">
   <li><a href="#">Download Resume</a></li>
   <li><a href="#">Linkedin</a></li>
   <li><a href="#">Github</a></li>
   </ul>
</nav>