---

---

<section class="section">
   <div class="container">
      <h2 class="title-2">[Category Title]</h2>
      <div>[Project List Items]
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>
         
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>
      </div>     
   </div> 
</section>




<section class="section">
   <div class="container">
      <h2 class="title-2">[Category Title]</h2>
      <div>[Project List Items]
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>
         
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>

         
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>

         
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>
      </div>     
   </div> 
</section>



<section class="section">
   <div class="container">
      <h2 class="title-2">[Category Title]</h2>
      <div>[Project List Items]
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>
         
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>

          <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>
         
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>

         
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>

         
         <article>
            <h3>[Project Title]</h3>
            <div>[Project image]</div>
            <p>[Project Description] Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, architecto totam fugiat voluptas assumenda dolorem, possimus incidunt </p>
         </article>
      </div>     
   </div> 
</section>