---
// import LogoLink from "./navigation/LogoLink.astro";
// import PrimaryNavigation from "./navigation/PrimaryNavigation.astro";
// import SocialLinks from "./navigation/SocialLinks.astro";
// import navigationData from "../content/footer-navigation.json";

---

<footer class="site-footer">
  <div class="container mbs-12">
      <div class=" flex-group -vcenter width-full" >
        <!-- <LogoLink />
        <PrimaryNavigation {navigationData} aria="footer navigation" />
        <SocialLinks elements="Instagram, X, Facebook"/>
        <p class="fine-print | ml-auto">© 2018 TravelFoodFun</p> -->
      </div>
  </div>
</footer>