// PRIVATE GLOBAL TOKENS ============
$-clr-black: hsl(0, 0%, 0%);
$-clr-grey-500: #292929;
$-clr-grey-400: #616161;// +- le grey-300 dans l'"exercice
$-clr-grey-300: hsl(0, 0%, 55%);// +- le grey-200 dans l'exercice
$-clr-grey-200: hsl(0, 0%, 75%);
$-clr-grey-100: #f5f5f5;// +-le grey-100 dans l'exercice
$-clr-white: hsl(0, 0%, 100%);

$-clr-blue-500: #2d288f;
$-clr-blue-400: #484eb7;
$-clr-blue-300: #565EF3;
$-clr-blue-200: #797ff4;
$-clr-blue-100: #bcbfef;

$-clr-orange-100: #f6a877;
$-clr-orange-200: #f97a2b;
$-clr-orange-300: #EC5B00;
$-clr-orange-400: #be4b03;
$-clr-orange-500: #a0450c;

$-clr-blue-violet-100: #b0a7f1;
$-clr-blue-violet-200: #7b6de7;
$-clr-blue-violet-300: #6858de;
$-clr-blue-violet-400: #665CB4;
$-clr-blue-violet-500: #4b4192;


/** 
PALETTE MAPS
Create a $default-palette or a $light-palette and a $dark-palette
used for CSS custom properties loops creation in base/_custom-properties.scss
!! after changes,don't forget to manually update the generic contextual token (below)
*/
$default-palette: (
  "neutral": (
  "white": $-clr-white,
  "100": $-clr-grey-100,
  "200": $-clr-grey-200,
  "300": $-clr-grey-300,
  "400": $-clr-grey-400,
  "500": $-clr-grey-500,
  "black": $-clr-black,
  ),
  "primary": (
  "100": $-clr-blue-100,
  "200": $-clr-blue-200,
  "300": $-clr-blue-300,
  "400": $-clr-blue-400,
  "500": $-clr-blue-500,
  ),

  "secondary": (
  "100": $-clr-orange-100,
  "200": $-clr-orange-200,
  "300": $-clr-orange-300,
  "400": $-clr-orange-400,
  "500": $-clr-orange-500,
  ),

  "accent": (
  "100": $-clr-blue-violet-100,
  "200": $-clr-blue-violet-200,
  "300": $-clr-blue-violet-300,
  "400": $-clr-blue-violet-400,
  "500": $-clr-blue-violet-500,
  )
);

$color-neutral-white: var(--neutral-white);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-black: var(--neutral-black);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);

$color-secondary-100: var(--secondary-100);
$color-secondary-200: var(--secondary-200);
$color-secondary-300: var(--secondary-300);
$color-secondary-400: var(--secondary-400);
$color-secondary-500: var(--secondary-500);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);