@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;
@use "../mm-design-system/utils.functions" as *;

// THEMES =======================================
$active-theme: $default-palette;
$enable-media-query-dark-mode: false;//false= il n'y a pas de double modes à prendre en compte 

// COLORS =======================================
$color-background-default: $color-neutral-100;
$color-text-default: $color-neutral-500;
$color-text-interactive-default: $color-primary-400;
$color-text-interactive-hover: $color-accent-500;

// RADIUS =======================================
$border-radius-1: $size-1;
$border-radius-2: $size-2;
$border-radius-3: $size-3;

// BOX SHADOW ===================================
$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);

  $box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

  $box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// BODY =========================================
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-font-weight: $font-weight-regular;
$body-line-height: 1.5;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

// links ========================================
$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;
$link-decoration-default: none;
$link-decoration-hover: none;
$link-font-weight: $font-weight-regular;

// TITLES =======================================
$title-font-family: $font-family-accent;
$title-color-default: $color-neutral-500;
$title-font-weight: $font-weight-semi-bold;
$title-letter-spacing: $letter-spacing-wide;
$title-line-height: 1.1;
$title-text-transform: none;

$title-1-font-size: $font-size-800;
$title-1-color: $title-color-default;
$title-2-font-size: $font-size-700;
$title-2-color: $title-color-default;
$title-3-font-size: $font-size-600;
$title-3-color: $title-color-default;

//  LAYOUT ======================================
$flow-space: 2rem;
$grid-gap: $size-6;
$flex-group-gap: $size-4;
$hero-padding-block: clamp(15rem, 22dvh, torem(320));
$section-padding-block: clamp(1.7rem, 8dvh, torem(60));// responsive height

$page-max-width: torem(1280);
$container-min-margin-inline: $size-4;
$container-max-width-narrow: torem(570);/* optional */ //35.6rem
$container-max-width-default: torem(1024);/* required*/ //64rem 
$container-max-width-wide: torem(1200);/* optional */ //75rem 

$auto-grid-min: min(250px, 100%);

// HEADERS ======================================
$site-header-background-color: $color-neutral-100;
$site-header-color: $color-neutral-500;
$site-header-padding: $size-8 0;
$site-header-margin: 0;

$site-header-justify-small-screens: center;
$site-header-justify-large-screens: space-between;
$site-header-media-query-large-screen-breakpoint: "medium";
$site-header-align: center;

// FOOTER =======================================
$site-footer-background-color: $color-neutral-100;
$site-footer-padding: $size-8 0;
$site-footer-text-color: $color-primary-100;
$site-footer-link-font-family: $font-family-base;
$site-footer-link-color: $color-primary-500;
$site-footer-link-color-hover: $color-accent-400;
$site-footer-link-text-decoration: none;

// Navigation ===================================
$navigation-color: $site-header-color;
$navigation-color-hover: $color-primary-300;
$navigation-font-size: $font-size-400;
$navigation-gap: $size-5;
$navigation-link-text-decoration: none;
$navigation-font-family: $body-font-family;
$navigation-font-weight: $body-font-weight;
$navigation-letter-spacing: $letter-spacing-wide;

// skip navigation
$skip-nav-color: $color-neutral-100;
$skip-nav-background-color: $color-primary-500;
$skip-nav-padding: $size-3 $size-6;
$skip-nav-outline-color: $color-accent-400;
$skip-nav-outline-size: 2px;
$skip-nav-outline-offset: 3px;
$skip-nav-position: left;

$fine-print-font-size: $font-size-200;
$fine-print-color: $color-neutral-500;
$fine-print-link-font-size: $fine-print-font-size;
$fine-print-link-font-color: $fine-print-color;

// HERO =========================================
$hero-padding-block: clamp(15rem, 15vh, 20rem);


// LOGO =========================================

$logo-fill-default: $color-primary-400;
$logo-fill-header: $color-primary-200;
$logo-fill-footer: $color-accent-400;
$logo-size-default: 14rem;
$logo-size-header: $logo-size-default;
$logo-size-footer : $logo-size-default;

// BUTTON =======================================
$button-font-family: $body-font-family;
$button-font-size: $font-size-400;
$button-font-weight: $body-font-weight;
$button-text-transform: none;
$button-padding: 0.75em 2em;
$button-wide-padding: .86em 1.2em;
$button-border: 0;
$button-border-radius: $border-radius-1;
$button-animation: 180ms ease-out;


$button-default-color: $link-color;
$button-default-background: transparent;
$button-default-background-hover: $color-neutral-100;
$button-default-color-hover: $link-color-hover;

$button-primary-color: $color-neutral-white;
$button-primary-background: $color-primary-400;
$button-primary-color-hover: $color-neutral-white;
$button-primary-background-hover: $color-primary-500;

$button-secondary-color: $color-primary-400;
$button-secondary-background: transparent;
$button-secondary-color-hover: $color-neutral-white;
$button-secondary-background-hover: $color-primary-500;

$button-accent-color: $color-neutral-100;
$button-accent-background: $color-accent-400;
$button-accent-color-hover: $color-neutral-100;
$button-accent-background-hover: $color-accent-500;

// CARD ========================================= 
// for gap > $grid-gap
$card-flow-spacing: $size-2;
$card-padding: $size-8;
$card-box-shadow: $box-shadow-1;
$card-border-radius: $border-radius-2;
$card-background-default: $color-neutral-100;
$card-color-default: $body-text-color;
$card-font-family: $body-font-family;
$card-line-height: $body-line-height;
$card-title-color-default: $card-color-default;
$card-title-font-size: $font-size-600;
$card-body-padding: $size-4;


// FORM =========================================
$form-label-color: $body-text-color;
$form-label-font-family: $body-font-family;
$form-label-font-weight: $font-weight-bold;
$form-label-font-size: $body-font-size;

$form-input-color: $body-text-color;
$form-input-font-family: $body-font-family;
$form-input-font-weight: $font-weight-semi-bold;
$form-input-font-size: $body-font-size;
$form-input-background-color: $color-neutral-100;
$form-input-border-default: 3px solid $color-primary-200;
$form-input-border-focus: 3px solid $color-primary-400;
$form-input-padding: $size-3;
$form-input-border-radius: $border-radius-1;

$form-input-focus-outline-color: $color-primary-300;
$form-input-focus-outline-width: 2px;

$form-placeholder-color: $color-primary-300;
$form-placeholder-font-family: $form-input-font-family;
$form-placeholder-font-weight: $form-input-font-weight;
$form-placeholder-font-size: $body-font-size;

$form-group-spacing: 0.5rem;
