@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  src: url("/fonts/inter/Inter-VariableFont_opsz-wght.woff2") format("woff2"),
  url("/fonts/inter/Inter-VariableFont_opsz-wght.woff") format("woff")
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  src: url("/fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff2") format("woff2"),
  url("/fonts/inter/Inter-Italic-VariableFont_opsz-wght.woff") format("woff")
}

@font-face {
  font-family: "Epunda";
  font-display: swap;
  font-style: normal;
  src: url("/fonts/epunda-slab/EpundaSlab-VariableFont_wght.woff2") format("woff2"),
  url("/fonts/epunda-slab/EpundaSlab-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "Epunda";
  font-display: swap;
  font-style: italic;
  src: url("/fonts/epunda-slab/EpundaSlab-Italic-VariableFont_wght.woff2") format("woff2"),
  url("/fonts/epunda-slab/EpundaSlab-Italic-VariableFont_wght.woff") format("woff");
}