@font-face {
  font-family: "Geist";
  font-display: swap;
  font-optical-sizing: auto;
  font-style: normal;
  src: url("/fonts/Geist-VariableFont_wght.woff2") format("woff2"),
  url("/fonts/Geist-VariableFont_wght.woff") format("woff")
}

@font-face {
  font-family: "Geist Mono";
  font-display: swap;
  font-optical-sizing: auto;
  font-style: normal;
  src: url("/fonts/GeistMono-VariableFont_wght.woff2") format("woff2"),
  url("/fonts/GeistMono-VariableFont_wght.woff") format("woff")
}