@use "../mm-design-system/utils.functions" as *;


// map needed for utility classes 
$sizes:( 
0: 0,        
1: torem(4),
2: torem(8),
3: torem(11),
4: torem(16),
5: torem(19),
6: torem(24),
7: torem(28),
8: torem(35),
9: torem(40),
10: torem(48),
11: torem(52),
12: torem(65),
13: torem(74),
14: torem(80),
15: torem(128),
);


// GENERIC CONTEXTUAL TOKENS ============
// used in sass files
$size-0: torem(0);
$size-1: torem(4);  
$size-2: torem(8);
$size-3: torem(11); 
$size-4: torem(16); 
$size-5: torem(19); 
$size-6: torem(24); 
$size-7: torem(28); 
$size-8: torem(35);
$size-9: torem(40); 
$size-10: torem(48); 
$size-11: torem(52);
$size-12: torem(65); 
$size-13: torem(73); 
$size-14: torem(80);
$size-15: torem(125);

$size-fluid-1: clamp($size-2, 2vw, $size-4);
$size-fluid-2: clamp($size-4, 4vw, $size-6);