@use "../mm-design-system/utils.functions" as *;
@use "sass:math";

// FONT Families ------------------- 

// private
$-ff-Geist: "Geist", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Open Sans', sans-serif;
$-ff-GeistMono: "Geist Mono",'Courier New', Courier, monospace;

// generic contextual token
$font-family-base: $-ff-Geist;
$font-family-accent: $-ff-GeistMono;


// FONT SIZES ------------------- 
// ref table:
// px | rem 
// ---------    
// 14   0.875   
// 14.8 0.925 
// 16   1      
// 18   1.125   
// 21   1.3125
// 24   1.5    
// 28    1.75  
// 36   2.25 
// 42   2.625  
// 48   3      
// 56   3.5  
// 60   3.75 
// 72   4.5

// TODO: define size for small screen
$font-sizes: (
  "small": (
    "100": torem(14),
    "200": torem(15),
    "300": torem(16),
    "400": torem(17),
    "500": torem(18),
    "600": torem(19),
    "700": torem(20),
    "800": torem(42),
    "900": torem(51),
  ),
  "large": (
    "100": torem(14),
    "200": torem(15),
    "300": torem(16),
    "400": torem(17),
    "500": torem(18),
    "600": torem(19),
    "700": torem(20),
    "800": torem(42),
    "900": torem(51),
  ),
);

// generic contextual token
$font-size-100: var(--fs-100);
$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

// FONT WEIGHTS ------------------- 
// private
$-fw-100: 100;
$-fw-200: 200;
$-fw-300: 300;
$-fw-400: 400;
$-fw-500: 500;
$-fw-600: 600;
$-fw-700: 700;
$-fw-800: 800;
$-fw-900: 900;
// generic contextual token
$font-weight-thin: $-fw-100;
$font-weight-extra-light: $-fw-200;
$font-weight-light: $-fw-300;
$font-weight-regular: $-fw-400;
$font-weight-medium: $-fw-500;
$font-weight-semi-bold: $-fw-600;
$font-weight-bold: $-fw-700;
$font-weight-extra-bold: $-fw-800;
$font-weight-black: $-fw-900;

// LETTER SPACING ------------------- 
$letter-spacing-narrow: -2.4em;
$letter-spacing-regular: .02em;
$letter-spacing-large: .8em;
$letter-spacing-wide: 1.3em;