---
import  SpeedInsights  from "@vercel/speed-insights/astro"
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
const { class:classlist =  "", title = "Portfolio | Michel MAES"} = Astro.props;
---

<html lang="en" >
  <BaseHead {title}/>
  <body class:list={classlist}>
    <SiteHeader />
      <slot />
    <SiteFooter />
    <SpeedInsights />
  </body>
</html>
