---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
const { title = "Portfolio | Michel MAES"} = Astro.props;
---

<!doctype html>
<html lang="en" {title}>
  <BaseHead />
  <body class="global-grid-layout">
    <SiteHeader />
      <slot />
    <SiteFooter />
  </body>
</html>
