@use '../abstracts/' as *;

.grid-auto-fit, .grid-auto-fill{
   --grid-auto-min: 250px;
   --_grid-gap : var (--grid-gap, $grid-gap);
   display: grid;
   row-gap: var(--grid-gap-h, --_grid-gap);
   column-gap: var(--grid-gap-v, --_grid-gap);

}
.grid-auto-fit{
   grid-template-columns : repeat(auto-fit, minmax(min(var(--grid-auto-min), 100%), 1fr));
}

.grid-auto-fill{
   grid-template-columns : repeat(auto-fill, minmax(min(var(--grid-auto-min), 100%), 1fr));
}