@use '../abstracts/' as *;

.grid-auto-fit{
   --grid-auto-min: 250px;
   display: grid;
   grid-gap: var(--grid-gap, $grid-gap);
   grid-template-columns : repeat(auto-fit, minmax(min(var(--grid-auto-min), 100%), 1fr));
}